[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "*"
Flask-SQLAlchemy = "*"
Flask-Migrate = "*"
psycopg2-binary = "*"
python-dotenv = "*"
flask-praetorian = "*"
Flask-Cors = "*"
Flask = "*"
Flask-SocketIO = "*"
PyJWT = "*"
pyjwt = "*"
gevent-websocket = "*"
flask-cors = "*"
flask = "*"
jwt = "*"
boto3 = "*"

[dev-packages]

[requires]
python_version = "3.8"
