.btn_1{
    margin-left:10px;

}

.btn_2{
    margin-right:10px;
}


.chat-form {
    width: 400px;
    /* margin: 0 auto; */
    margin-right: 0;
    padding-right: 1%;
  }


input {
    width: 100%;
    padding: 0.25rem;
  }